# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Environment settings
.env
.env.*

# Visual Studio Code settings
.vscode/

# PyCharm settings
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled Python modules
*.pyc

# C extensions
*.so

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
